[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-ipython"]
	path = .vim/bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule ".vim/bundle/compiler"]
	path = .vim/bundle/compiler
	url = https://github.com/olethanh/Vim-nosecompiler.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
