[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-textobj-entire"]
	path = vim/.vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/.vim/bundle/vim-textobj-user"]
	path = vim/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "solarized/dircolors-solarized"]
	path = solarized/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/ag"]
	path = vim/.vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/.vim/bundle/vim-ipython"]
	path = vim/.vim/bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython

[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

[submodule "vim/.vim/bundle/snipmate-snippets"]
	path = vim/.vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git

[submodule "vim/.vim/bundle/tlib_vim/"]
	path = vim/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlibvim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils"]
	path = vim/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWebervim-addon-mw-utils.git

[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "3195465"]
	path = osx-settings
	url = https://gist.github.com/3195465.git

[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-unimpaired"]
	path = vim/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/.vim/bundle/argtextobj.vim"]
	path = vim/.vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "vim/.vim/bundle/SimpylFold"]
	path = vim/.vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/.vim/bundle/vim-nerdtree-tabs"]
	path = vim/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/powerline"]
	path = vim/.vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule "vim/.vim/bundle/ofaddinbox.vim"]
	path = vim/.vim/bundle/ofaddinbox.vim
	url = git@github.com:Mistobaan/ofaddinbox.vim.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-autopep8"]
	path = vim/.vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "vim/.vim/bundle/YCM-Generator"]
	path = vim/.vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "vim/.vim/bundle/vim-conda"]
	path = vim/.vim/bundle/vim-conda
	url = https://github.com/cjrh/vim-conda
[submodule "vim/.vim/bundle/vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/.vim/bundle/pydoc.vim"]
	path = vim/.vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
