'editor':
  'showIndentGuide': true
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'exception-reporting':
  'userId': 'd72e265f-252a-d777-2b2a-c015583cc0ec'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '795adbab5c5f05ba769481ca33761bc1a3625a0d'
'emacs-mode':
  'hideTabs': false
  'hideSidebar': false
  'useEmacsCursor': true
'go-plus':
  'goExecutablePath': '/usr/local/bin/go'
  'showErrorPanelWhenNoIssuesExist': true
  'syntaxCheckOnSave': true
  'gofmtPath': '/usr/local/bin/gofmt'
  'goPath': '/Users/fabrizio/workspace/cracking-the-code-interview/'
